In [1]:
import pandas as pd

In [2]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

- How many entries are there in `population`
- What are the values?
- What is the index of the series
- What is the population of `Florida`
- Extract the subseries of Texas, New York, and Florida

In [3]:
len(population)

5

In [4]:
population.size

5

In [5]:
population.count()

5

In [8]:
list(population.values)

[38332521, 26448193, 19651127, 19552860, 12882135]

In [9]:
list(population)

[38332521, 26448193, 19651127, 19552860, 12882135]

In [10]:
population.to_list()

[38332521, 26448193, 19651127, 19552860, 12882135]

In [11]:
population.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [12]:
list(population.index)

['California', 'Texas', 'New York', 'Florida', 'Illinois']

In [14]:
population['Florida']

19552860

In [15]:
population['Texas':'Florida']

Texas       26448193
New York    19651127
Florida     19552860
dtype: int64

In [16]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

- Create a data frame of two columns, population and area
- What is the index of the data frame
- What are the columns of the data frame
- How many entries are there in the data frame

In [17]:
df = pd.DataFrame( {'population':population, 'area':area } )
df

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [18]:
df.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [19]:
df.columns

Index(['population', 'area'], dtype='object')

In [20]:
len(df.index)

5

In [21]:
len(df.columns)

2

In [22]:
len(df.index) * len(df.columns)

10

In [24]:
rows, cols = df.shape

In [25]:
rows * cols

10

In [26]:
len(df)

5