This notebook uses the [GapMinder data set](https://www.gapminder.org)

In [1]:
import pandas as pd
data = pd.read_csv("data/gapminder.tsv", sep='\t')
data.head() # show five entries

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

Assuming \\$1,000 is the threshold of poverty, what are the poor countries? (i.e., gdpPercap less than \\$1,000)

In [7]:
set(data[data['gdpPercap'] < 1000]['country'])

{'Afghanistan',
 'Bangladesh',
 'Benin',
 'Bosnia and Herzegovina',
 'Botswana',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Central African Republic',
 'Chad',
 'China',
 'Comoros',
 'Congo, Dem. Rep.',
 'Equatorial Guinea',
 'Eritrea',
 'Ethiopia',
 'Gambia',
 'Ghana',
 'Guinea',
 'Guinea-Bissau',
 'India',
 'Indonesia',
 'Kenya',
 'Lesotho',
 'Liberia',
 'Madagascar',
 'Malawi',
 'Mali',
 'Mauritania',
 'Mongolia',
 'Mozambique',
 'Myanmar',
 'Nepal',
 'Niger',
 'Pakistan',
 'Rwanda',
 'Sao Tome and Principe',
 'Sierra Leone',
 'Somalia',
 'Tanzania',
 'Thailand',
 'Togo',
 'Uganda',
 'Vietnam',
 'Yemen, Rep.',
 'Zimbabwe'}

- Calculate the average gdpPercap.
- Let us define poverty as having a gdpPercap less than 0.5 x average. What are the poor countries?

In [10]:
avg_gdpPercap = data['gdpPercap'].mean()
avg_gdpPercap

7215.327081212142

In [11]:
set(data[data['gdpPercap'] < avg_gdpPercap / 2]['country'])

{'Afghanistan',
 'Albania',
 'Algeria',
 'Angola',
 'Bangladesh',
 'Benin',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Central African Republic',
 'Chad',
 'China',
 'Colombia',
 'Comoros',
 'Congo, Dem. Rep.',
 'Congo, Rep.',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Djibouti',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Ethiopia',
 'Gambia',
 'Ghana',
 'Greece',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Haiti',
 'Honduras',
 'Hong Kong, China',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kenya',
 'Korea, Dem. Rep.',
 'Korea, Rep.',
 'Lesotho',
 'Liberia',
 'Libya',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Mali',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Oman',
 'Pakistan',
 'Panama',
 'Paraguay',
 'Philippines',
 'Portugal',
 'Puerto Rico',
 'Reunion',
 'Romania',
 'Rwanda',
 'Sao Tome and Principe',
 'Senegal',
 'Serbia',
 'Sierra Leone',
 'Singapore',
 'Somalia',
 'Sri Lanka',
 'Sudan',
 'Swaziland',
 'Syria',
 'Taiwan',
 'Tanzania',
 'Thailand',
 'Togo',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Uganda',
 'Vietnam',
 'West Bank and Gaza',
 'Yemen, Rep.',
 'Zambia',
 'Zimbabwe'}

The above calculation ignores that the value of money is changing. 
- Write a function that takes a year, and returns the average gdpPercap in that year
- What are the poor countries in 1967?
- What are the poor countries in 2007?
- What countries were poor in 1960 and remained poor in 2007?

In [12]:
def average_gdp(year):
    subset = data[data['year'] == year]
    return subset['gdpPercap'].mean()

In [18]:
average_gdp(1967)

5483.653046835208

In [19]:
average_gdp(2007)

11680.071819878172

In [21]:
data['average_year'] = data['year'].apply(average_gdp)

In [22]:
data.head()

       country continent  year  lifeExp       pop   gdpPercap  average_year
0  Afghanistan      Asia  1952   28.801   8425333  779.445314   3725.276046
1  Afghanistan      Asia  1957   30.332   9240934  820.853030   4299.408345
2  Afghanistan      Asia  1962   31.997  10267083  853.100710   4725.812342
3  Afghanistan      Asia  1967   34.020  11537966  836.197138   5483.653047
4  Afghanistan      Asia  1972   36.088  13079460  739.981106   6770.082815

In [26]:
poor_countries = data[data['gdpPercap'] < 0.5 * data['average_year']]
poor_countries.head()

       country continent  year  lifeExp       pop   gdpPercap  average_year
0  Afghanistan      Asia  1952   28.801   8425333  779.445314   3725.276046
1  Afghanistan      Asia  1957   30.332   9240934  820.853030   4299.408345
2  Afghanistan      Asia  1962   31.997  10267083  853.100710   4725.812342
3  Afghanistan      Asia  1967   34.020  11537966  836.197138   5483.653047
4  Afghanistan      Asia  1972   36.088  13079460  739.981106   6770.082815

In [28]:
poor_countries_1967 = set(poor_countries[poor_countries.year == 1967].country)
poor_countries_1967

{'Afghanistan',
 'Bangladesh',
 'Benin',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Central African Republic',
 'Chad',
 'China',
 'Colombia',
 'Comoros',
 'Congo, Dem. Rep.',
 'Congo, Rep.',
 "Cote d'Ivoire",
 'Dominican Republic',
 'Egypt',
 'Equatorial Guinea',
 'Eritrea',
 'Ethiopia',
 'Gambia',
 'Ghana',
 'Guinea',
 'Guinea-Bissau',
 'Haiti',
 'Honduras',
 'India',
 'Indonesia',
 'Jordan',
 'Kenya',
 'Korea, Dem. Rep.',
 'Korea, Rep.',
 'Lesotho',
 'Liberia',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Mali',
 'Mauritania',
 'Mauritius',
 'Mongolia',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Nepal',
 'Niger',
 'Nigeria',
 'Pakistan',
 'Paraguay',
 'Philippines',
 'Rwanda',
 'Sao Tome and Principe',
 'Senegal',
 'Sierra Leone',
 'Somalia',
 'Sri Lanka',
 'Sudan',
 'Swaziland',
 'Syria',
 'Taiwan',
 'Tanzania',
 'Thailand',
 'Togo',
 'Tunisia',
 'Uganda',
 'Vietnam',
 'West Bank and Gaza',
 'Yemen, Rep.',
 'Zambia',
 'Zimbabwe'}

In [29]:
poor_countries_2007 = set(poor_countries[poor_countries.year == 2007].country)
poor_countries_2007

{'Afghanistan',
 'Angola',
 'Bangladesh',
 'Benin',
 'Bolivia',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Central African Republic',
 'Chad',
 'China',
 'Comoros',
 'Congo, Dem. Rep.',
 'Congo, Rep.',
 "Cote d'Ivoire",
 'Djibouti',
 'Egypt',
 'El Salvador',
 'Eritrea',
 'Ethiopia',
 'Gambia',
 'Ghana',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Haiti',
 'Honduras',
 'India',
 'Indonesia',
 'Iraq',
 'Jordan',
 'Kenya',
 'Korea, Dem. Rep.',
 'Lesotho',
 'Liberia',
 'Madagascar',
 'Malawi',
 'Mali',
 'Mauritania',
 'Mongolia',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Pakistan',
 'Paraguay',
 'Philippines',
 'Rwanda',
 'Sao Tome and Principe',
 'Senegal',
 'Sierra Leone',
 'Somalia',
 'Sri Lanka',
 'Sudan',
 'Swaziland',
 'Syria',
 'Tanzania',
 'Togo',
 'Uganda',
 'Vietnam',
 'West Bank and Gaza',
 'Yemen, Rep.',
 'Zambia',
 'Zimbabwe'}

In [31]:
stuck_in_poverty = poor_countries_1967 & poor_countries_2007
stuck_in_poverty

{'Afghanistan',
 'Bangladesh',
 'Benin',
 'Bolivia',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Central African Republic',
 'Chad',
 'China',
 'Comoros',
 'Congo, Dem. Rep.',
 'Congo, Rep.',
 "Cote d'Ivoire",
 'Egypt',
 'Eritrea',
 'Ethiopia',
 'Gambia',
 'Ghana',
 'Guinea',
 'Guinea-Bissau',
 'Haiti',
 'Honduras',
 'India',
 'Indonesia',
 'Jordan',
 'Kenya',
 'Korea, Dem. Rep.',
 'Lesotho',
 'Liberia',
 'Madagascar',
 'Malawi',
 'Mali',
 'Mauritania',
 'Mongolia',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Nepal',
 'Niger',
 'Nigeria',
 'Pakistan',
 'Paraguay',
 'Philippines',
 'Rwanda',
 'Sao Tome and Principe',
 'Senegal',
 'Sierra Leone',
 'Somalia',
 'Sri Lanka',
 'Sudan',
 'Swaziland',
 'Syria',
 'Tanzania',
 'Togo',
 'Uganda',
 'Vietnam',
 'West Bank and Gaza',
 'Yemen, Rep.',
 'Zambia',
 'Zimbabwe'}