This notebook uses the [GapMinder data set](https://www.gapminder.org)

In [1]:
import pandas as pd
data = pd.read_csv("data/gapminder.tsv", sep='\t')
data.head() # show five entries

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

Create a new column in the data frame `lifeExpMonth` representing the values of `lifeExp` in months (i.e. multiply lifeExp by 12)

In [4]:
data['lifeExpMonth'] = data['lifeExp'] * 12
data.head()

       country continent  year  lifeExp       pop   gdpPercap  lifeExpMonth
0  Afghanistan      Asia  1952   28.801   8425333  779.445314       345.612
1  Afghanistan      Asia  1957   30.332   9240934  820.853030       363.984
2  Afghanistan      Asia  1962   31.997  10267083  853.100710       383.964
3  Afghanistan      Asia  1967   34.020  11537966  836.197138       408.240
4  Afghanistan      Asia  1972   36.088  13079460  739.981106       433.056

Create a new column `gdp` which is the total gdp (i.e., multiply pop by gdpPercap)

In [8]:
data['gdp'] = data['pop'] * data['gdpPercap']
data.head()

,country,continent,year,lifeExp,pop,gdpPercap,lifeExpMonth,gdp
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,345.612,6.567086e+09
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,363.984,7.585449e+09
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,383.964,8.758856e+09
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,408.240,9.648014e+09
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,433.056,9.678553e+09

Round lifeExp to an integer, overwrite the values in `lifeExp`

In [16]:
#data['lifeExp'] = round(data['lifeExp'])

In [11]:
int(4.6)

4

In [18]:
newdata = []
for value in data['lifeExp']:
    newdata.append(int(value))

In [20]:
data['int_lifeExp']=newdata

In [22]:
#data.head()

In [25]:
data['lifeExp']=data['lifeExp'].apply(int)

In [26]:
data.head()

,country,continent,year,lifeExp,pop,gdpPercap,lifeExpMonth,gdp,int_lifeExp,int_lifeExp2
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,345.612,6.567086e+09,28,28
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,363.984,7.585449e+09,30,30
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,383.964,8.758856e+09,31,31
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,408.240,9.648014e+09,34,34
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,433.056,9.678553e+09,36,36