In [1]:
import pandas as pd

The data frames `Customers`, `Employees`, `Offices`, `OrderDetails`, `Orders`, `Payments`, `ProductLines`, and `Products` contain data of the corresponding tables in the [ClassicModels database](https://www.richardtwatson.com/dm6e/Reader/ClassicModels.html).

The entity relationship diagram is shown here ![ERD](figures/ClassicModels.png)

Using Pandas merge and join operations, answer the following questions:

*Text queries*

- Find products containing the name 'Ford'.
- List products ending in 'ship'.
- Report the number of customers in Denmark, Norway, and Sweden.
- What are the products with a product code in the range S700_1000 to S700_1499?
- Which customers have a digit in their name?
- List the names of employees called Dianne or Diane.
- List the products containing ship or boat in their product name.
- List the products with a product code beginning with S700.
- List the names of employees called Larry or Barry.
- List the names of employees with non-alphabetic characters in their names.
- List the vendors whose name ends in Diecast

*Correlated subqueries*

- Who reports to Mary Patterson?
- Which payments in any month and year are more than twice the average for that month and year (i.e. compare all payments in Oct 2004 with the average payment for Oct 2004)? Order the results by the date of the payment. You will need to use the date functions.
- Report for each product, the percentage value of its stock on hand as a percentage of the stock on hand for product line to which it belongs. Order the report by product line and percentage value within product line descending. Show percentages with two decimal places.
- For orders containing more than two products, report those products that constitute more than 50% of the value of the order.

In [2]:
Customers = pd.read_csv('data/ClassicModels_Customers.csv', sep=';')

In [3]:
Customers.head(1)

,customerNumber,customerName,contactLastName,contactFirstName,phone,addressLine1,addressLine2,city,state,postalCode,country,salesRepEmployeeNumber,creditLimit,customerLocation
0,103,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",NaN,Nantes,NaN,44000,France,1370,21000.0,0

In [4]:
Employees = pd.read_csv('data/ClassicModels_Employees.csv', sep=';')

In [5]:
Employees.head(1)

,employeeNumber,lastName,firstName,extension,email,reportsTo,jobTitle,officeCode
0,1002,Murphy,Diane,x5800,dmurphy@classicmodelcars.com,0,President,1

In [6]:
Offices = pd.read_csv('data/ClassicModels_Offices.csv', sep=';')

In [7]:
Offices.head(1)

,officeCode,city,phone,addressLine1,addressLine2,state,country,postalCode,territory,officeLocation
0,1,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NaN,0

In [8]:
OrderDetails = pd.read_csv('data/ClassicModels_OrderDetails.csv', sep=';')

In [9]:
OrderDetails.head(1)

   orderNumber productCode  quantityOrdered  priceEach  orderLineNumber
0        10107    S10_1678               30      81.35                2

In [10]:
Orders = pd.read_csv('data/ClassicModels_Orders.csv', sep=';')

In [11]:
Orders.head(1)

,orderNumber,orderDate,requiredDate,shippedDate,status,comments,customerNumber
0,10100,2003-01-06 00:00:00,2003-01-13 00:00:00,2003-01-10 00:00:00,Shipped,NaN,363

In [12]:
Payments = pd.read_csv('data/ClassicModels_Payments.csv', sep=';')

In [13]:
Payments.head(1)

  checkNumber          paymentDate   amount  customerNumber
0    AB661578  2004-07-28 00:00:00  9415.13             471

In [14]:
ProductLines = pd.read_csv('data/ClassicModels_ProductLines.csv', sep=';')

In [15]:
ProductLines.head(1)

,productLine,textDescription,htmlDescription,image
0,Classic Cars,Attention car enthusiasts: Make your wildest c...,NaN,NaN

In [16]:
Products = pd.read_csv('data/ClassicModels_Products.csv', sep=';')

In [17]:
Products.head(1)

,productCode,productName,productScale,productVendor,productDescription,quantityInStock,buyPrice,MSRP,productLine
0,S10_1678,1969 Harley Davidson Ultimate Chopper,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.7,Motorcycles