In [2]:
import pandas as pd

The data frames `Customers`, `Employees`, `Offices`, `OrderDetails`, `Orders`, `Payments`, `ProductLines`, and `Products` contain data of the corresponding tables in the [ClassicModels database](https://www.richardtwatson.com/dm6e/Reader/ClassicModels.html).

The entity relationship diagram is shown here ![ERD](figures/ClassicModels.png)

Using Pandas merge and join operations, answer the following questions:

*One to many relationship*

- Report the account representative for each customer.
- Report total payments for Atelier graphique.
- Report the total payments by date
- Report the products that have not been sold.
- List the amount paid by each customer.
- How many orders have been placed by Herkku Gifts?
- Who are the employees in Boston?
- Report those payments greater than \\$100,000. Sort the report so the customer who made the highest payment appears first.
- List the value of 'On Hold' orders.
- Report the number of orders 'On Hold' for each customer.

*Many to many relationship*

- List products sold by order date.
- List the order dates in descending order for orders for the 1940 Ford Pickup Truck.
- List the names of customers and their corresponding order number where a particular order from that customer has a value greater than $25,000?
- Are there any products that appear on all orders?
- List the names of products sold at less than 80% of the MSRP.
- Reports those products that have been sold with a markup of 100% or more (i.e.,  the priceEach is at least twice the buyPrice)
- List the products ordered on a Monday.
- What is the quantity on hand for products listed on 'On Hold' orders?

In [3]:
Customers = pd.read_csv('data/ClassicModels_Customers.csv', sep=';')

In [4]:
Customers.head(1)

,customerNumber,customerName,contactLastName,contactFirstName,phone,addressLine1,addressLine2,city,state,postalCode,country,salesRepEmployeeNumber,creditLimit,customerLocation
0,103,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",NaN,Nantes,NaN,44000,France,1370,21000.0,0

In [5]:
Employees = pd.read_csv('data/ClassicModels_Employees.csv', sep=';')

In [6]:
Employees.head(1)

,employeeNumber,lastName,firstName,extension,email,reportsTo,jobTitle,officeCode
0,1002,Murphy,Diane,x5800,dmurphy@classicmodelcars.com,0,President,1

In [7]:
Offices = pd.read_csv('data/ClassicModels_Offices.csv', sep=';')

In [8]:
Offices.head(1)

,officeCode,city,phone,addressLine1,addressLine2,state,country,postalCode,territory,officeLocation
0,1,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NaN,0

In [9]:
OrderDetails = pd.read_csv('data/ClassicModels_OrderDetails.csv', sep=';')

In [10]:
OrderDetails.head(1)

   orderNumber productCode  quantityOrdered  priceEach  orderLineNumber
0        10107    S10_1678               30      81.35                2

In [11]:
Orders = pd.read_csv('data/ClassicModels_Orders.csv', sep=';')

In [12]:
Orders.head(1)

,orderNumber,orderDate,requiredDate,shippedDate,status,comments,customerNumber
0,10100,2003-01-06 00:00:00,2003-01-13 00:00:00,2003-01-10 00:00:00,Shipped,NaN,363

In [13]:
Payments = pd.read_csv('data/ClassicModels_Payments.csv', sep=';')

In [14]:
Payments.head(1)

  checkNumber          paymentDate   amount  customerNumber
0    AB661578  2004-07-28 00:00:00  9415.13             471

In [15]:
ProductLines = pd.read_csv('data/ClassicModels_ProductLines.csv', sep=';')

In [16]:
ProductLines.head(1)

,productLine,textDescription,htmlDescription,image
0,Classic Cars,Attention car enthusiasts: Make your wildest c...,NaN,NaN

In [17]:
Products = pd.read_csv('data/ClassicModels_Products.csv', sep=';')

In [18]:
Products.head(1)

,productCode,productName,productScale,productVendor,productDescription,quantityInStock,buyPrice,MSRP,productLine
0,S10_1678,1969 Harley Davidson Ultimate Chopper,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.7,Motorcycles

In [19]:
# Report the account representative for each customer.

pd.merge(Customers, Employees, 
         left_on = 'salesRepEmployeeNumber', 
         right_on = 'employeeNumber', how='inner')[['customerName', 
                                                    'firstName', 'lastName']]

                          customerName firstName   lastName
0                    Atelier graphique    Gerard  Hernandez
1                    La Rochelle Gifts    Gerard  Hernandez
2               Euro+ Shopping Channel    Gerard  Hernandez
3             Daedalus Designs Imports    Gerard  Hernandez
4                          Mini Caravy    Gerard  Hernandez
5                         Alpha Cognac    Gerard  Hernandez
6                          Auto Associ    Gerard  Hernandez
7                   Signal Gift Stores    Leslie   Thompson
8                    Toys4GrownUps.com    Leslie   Thompson
9                    Boards & Toys Co.    Leslie   Thompson
10        Collectable Mini Designs Co.    Leslie   Thompson
11          Men 'R' US Retailers, Ltd.    Leslie   Thompson
12         West Coast Collectables Co.    Leslie   Thompson
13          Australian Collectors, Co.      Andy     Fixter
14             Anna's Decorations, Ltd      Andy     Fixter
15           Souveniers And Things Co.      Andy     Fixter
16         Australian Gift Network, Co      Andy     Fixter
17        Australian Collectables, Ltd      Andy     Fixter
18                  Baane Mini Imports     Barry      Jones
19                Blauer See Auto, Co.     Barry      Jones
20            Volvo Model Replicas, Co     Barry      Jones
21                        Herkku Gifts     Barry      Jones
22             Clover Collections, Co.     Barry      Jones
23                      Toms Spezialit     Barry      Jones
24           Norway Gifts By Mail, Co.     Barry      Jones
25  Bavarian Collectables Imports, Co.     Barry      Jones
26             Scandinavian Gift Ideas     Barry      Jones
27        Mini Gifts Distributors Ltd.    Leslie   Jennings
28                     Mini Wheels Co.    Leslie   Jennings
29                Technics Stores Inc.    Leslie   Jennings
..                                 ...       ...        ...
70             Auto-Moto Classics Inc.     Steve  Patterson
71                Marta's Replicas Co.     Steve  Patterson
72                   Gifts4AllAges.com     Steve  Patterson
73        Online Diecast Creations Co.     Steve  Patterson
74                    FunGiftIdeas.com     Steve  Patterson
75                    Handji Gifts& Co     Peter      Marsh
76          Down Under Souveniers, Inc     Peter      Marsh
77                     GiftsForHim.com     Peter      Marsh
78       Extreme Desk Decorations, Ltd     Peter      Marsh
79                   Kelly's Gift Shop     Peter      Marsh
80          Cambridge Collectables Co.     Julie   Firrelli
81            Online Mini Collectables     Julie   Firrelli
82                 Mini Creations Ltd.     Julie   Firrelli
83             Classic Gift Ideas, Inc     Julie   Firrelli
84          Collectables For Less Inc.     Julie   Firrelli
85                Diecast Collectables     Julie   Firrelli
86                Toys of Finland, Co.     Larry       Bott
87                      AV Stores, Co.     Larry       Bott
88               UK Collectables, Ltd.     Larry       Bott
89                   giftsbymail.co.uk     Larry       Bott
90             Oulu Toy Supplies, Inc.     Larry       Bott
91            Stylish Desk Decors, Co.     Larry       Bott
92                 Suominen Souveniers     Larry       Bott
93      Double Decker Gift Stores, Ltd     Larry       Bott
94                  Enaco Distributors    Martin     Gerard
95                     Vida Sport, Ltd    Martin     Gerard
96                         CAF Imports    Martin     Gerard
97               Precious Collectables    Martin     Gerard
98          Corrida Auto Replicas, Ltd    Martin     Gerard
99          Iberia Gift Imports, Corp.    Martin     Gerard

[100 rows x 3 columns]

In [ ]:
# Report total payments for Atelier graphique.

pd.merge(Customers, Payments).groupby('customerName')['amount'].sum().loc['Atelier graphique']

In [20]:
# Report total payments for Atelier graphique.

df_join = Customers.join(
    Orders, rsuffix = "_order").join(
    OrderDetails, rsuffix="_details")[Customers['customerName']=='Atelier graphique']

df_join['totalPrice'] = df_join['quantityOrdered'] * df_join['priceEach'] 
df_join['totalPrice'].sum()

2440.5

In [21]:
# Report the total payments by date

Payments.groupby('paymentDate')['amount'].sum()

paymentDate
2003-01-16 00:00:00     10223.83
2003-01-28 00:00:00     10549.01
2003-01-30 00:00:00      5494.78
2003-02-16 00:00:00     50218.95
2003-02-20 00:00:00     53959.21
2003-02-25 00:00:00     40206.20
2003-03-02 00:00:00     52151.81
2003-03-09 00:00:00     51001.22
2003-03-12 00:00:00     22292.62
2003-03-20 00:00:00     25833.14
2003-03-27 00:00:00     48425.69
2003-04-09 00:00:00     24212.79
2003-04-11 00:00:00     11044.30
2003-04-16 00:00:00     21665.98
2003-04-19 00:00:00      1627.56
2003-04-20 00:00:00     33383.14
2003-04-22 00:00:00     44380.15
2003-05-09 00:00:00      3101.40
2003-05-12 00:00:00     35826.33
2003-05-20 00:00:00     45864.03
2003-05-21 00:00:00     16700.47
2003-05-25 00:00:00     50824.66
2003-05-31 00:00:00      7565.08
2003-06-05 00:00:00     14571.44
2003-06-06 00:00:00     32641.98
2003-06-13 00:00:00     57131.92
2003-06-18 00:00:00     58841.35
2003-06-25 00:00:00     17032.29
2003-07-05 00:00:00      2880.00
2003-07-06 00:00:00      6036.96
                         ...
2005-02-02 00:00:00     12692.19
2005-02-03 00:00:00     14379.90
2005-02-06 00:00:00     39580.60
2005-02-09 00:00:00     27083.78
2005-02-12 00:00:00     28322.83
2005-02-14 00:00:00     33967.73
2005-02-15 00:00:00     46770.52
2005-02-22 00:00:00     49523.67
2005-03-01 00:00:00     21432.31
2005-03-02 00:00:00      3452.75
2005-03-05 00:00:00    101244.59
2005-03-10 00:00:00     23602.90
2005-03-15 00:00:00     46781.66
2005-03-18 00:00:00    120166.58
2005-03-25 00:00:00     65071.26
2005-03-27 00:00:00      3516.04
2005-04-15 00:00:00     30293.77
2005-04-16 00:00:00     83598.04
2005-04-18 00:00:00     27966.54
2005-04-23 00:00:00     12190.85
2005-04-30 00:00:00     29848.52
2005-05-03 00:00:00     43964.87
2005-05-17 00:00:00     17928.09
2005-05-18 00:00:00       615.45
2005-05-19 00:00:00     75396.26
2005-05-20 00:00:00     29070.38
2005-05-23 00:00:00     75020.13
2005-05-25 00:00:00     30253.75
2005-06-03 00:00:00     12432.32
2005-06-09 00:00:00     46656.94
Name: amount, Length: 232, dtype: float64

In [ ]:
# Report the total payments by date
months=Payments['paymentDate'].str[:7]
Payments.groupby(months)['amount'].sum()

In [22]:
# Report the products that have not been sold.
#     same as products with no orders
df_join = pd.merge(Products, OrderDetails, how='left')
df_join[df_join['orderNumber'].isnull()]

,productCode,productName,productScale,productVendor,productDescription,quantityInStock,buyPrice,MSRP,productLine,orderNumber,quantityOrdered,priceEach,orderLineNumber
1122,S18_3233,1985 Toyota Supra,1:18,Highway 66 Mini Classics,"This model features soft rubber tires, working...",7733,57.01,107.57,Classic Cars,NaN,NaN,NaN,NaN

In [23]:
# List the amount paid by each customer.
pd.merge(Payments, Customers).groupby('customerName')['amount'].sum()

customerName
AV Stores, Co.                        148410.09
Alpha Cognac                           60483.36
Amica Models & Co.                     82223.23
Anna's Decorations, Ltd               137034.22
Atelier graphique                      22314.36
Australian Collectables, Ltd           44920.76
Australian Collectors, Co.            180585.07
Australian Gift Network, Co            55190.16
Auto Associ                            58876.41
Auto Canal+ Petit                      86436.97
Auto-Moto Classics Inc.                21554.26
Baane Mini Imports                    104224.79
Bavarian Collectables Imports, Co.     31310.09
Blauer See Auto, Co.                   75937.76
Boards & Toys Co.                       7918.60
CAF Imports                            46751.14
Cambridge Collectables Co.             32198.69
Canadian Gift Exchange Network         70122.19
Classic Gift Ideas, Inc                57939.34
Classic Legends Inc.                   69214.33
Clover Collections, Co.                49898.27
Collectable Mini Designs Co.           80375.24
Collectables For Less Inc.             73533.65
Corporate Gift Ideas Co.              132340.78
Corrida Auto Replicas, Ltd            112440.09
Cruz & Sons Co.                        87468.30
Daedalus Designs Imports               61781.70
Danish Wholesale Imports              107446.50
Diecast Classics Inc.                  98509.25
Diecast Collectables                   65541.74
                                        ...
Osaka Souveniers Co.                   62361.22
Oulu Toy Supplies, Inc.                95706.15
Petit Auto                             62253.85
Qu                                     68977.67
Reims Collectables                    126983.19
Rovelli Gifts                         127529.69
Royal Canadian Collectables, Ltd.      66812.00
Royale Belge                           29217.18
Salzburg Collectables                  85060.00
Saveley & Henriot, Co.                130305.35
Scandinavian Gift Ideas                76776.44
Signal Collectibles Ltd.               42570.37
Signal Gift Stores                     80180.98
Souveniers And Things Co.              91655.61
Stylish Desk Decors, Co.               80556.73
Suominen Souveniers                   103896.74
Super Scale Inc.                       70378.65
Technics Stores Inc.                  104545.22
Tekni Collectables Inc.                38281.51
The Sharp Gifts Warehouse              59551.38
Tokyo Collectables, Ltd               105548.73
Toms Spezialit                         89223.14
Toys of Finland, Co.                   95546.46
Toys4GrownUps.com                      93803.30
UK Collectables, Ltd.                  61167.18
Vida Sport, Ltd                       108777.92
Vitachrome Inc.                        72497.64
Volvo Model Replicas, Co               43680.65
West Coast Collectables Co.            43748.72
giftsbymail.co.uk                      71783.75
Name: amount, Length: 98, dtype: float64

In [24]:
# How many orders have been placed by Herkku Gifts?

df_join = pd.merge(Customers, Orders)
df_join[df_join['customerName']=='Herkku Gifts'].count()['orderNumber']

3

In [25]:
# Who are the employees in Boston?
df_join = pd.merge(Employees, Offices)
df_join[df_join['city']=='Boston']

,employeeNumber,lastName,firstName,extension,email,reportsTo,jobTitle,officeCode,city,phone,addressLine1,addressLine2,state,country,postalCode,territory,officeLocation
15,1188,Firrelli,Julie,x2173,jfirrelli@classicmodelcars.com,1143,Sales Rep,2,Boston,+1 215 837 0825,1550 Court Place,Suite 102,MA,USA,02107,NaN,0
16,1216,Patterson,Steve,x4334,spatterson@classicmodelcars.com,1143,Sales Rep,2,Boston,+1 215 837 0825,1550 Court Place,Suite 102,MA,USA,02107,NaN,0

In [26]:
# Report those payments greater than $100,000. Sort the report so the customer who made the highest payment appears first.
pd.merge(Customers, Payments[Payments['amount'] > 100000]).sort_values(by='amount', ascending = False)

,customerNumber,customerName,contactLastName,contactFirstName,phone,addressLine1,addressLine2,city,state,postalCode,country,salesRepEmployeeNumber,creditLimit,customerLocation,checkNumber,paymentDate,amount
3,141,Euro+ Shopping Channel,Freyre,Diego,(91) 555 94 44,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,1370,227600.0,0,JE105477,2005-03-18 00:00:00,120166.58
2,141,Euro+ Shopping Channel,Freyre,Diego,(91) 555 94 44,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,1370,227600.0,0,ID10962,2004-12-31 00:00:00,116208.40
1,124,Mini Gifts Distributors Ltd.,Nelson,Susan,4155551450,5677 Strong St.,NaN,San Rafael,CA,97562,USA,1165,210500.0,0,KI131716,2003-08-15 00:00:00,111654.40
4,148,"Dragon Souveniers, Ltd.",Natividad,Eric,+65 221 7555,Bronz Sok.,Bronz Apt. 3/6 Tesvikiye,Singapore,NaN,079903,Singapore,1621,103800.0,0,KM172879,2003-12-26 00:00:00,105743.00
0,124,Mini Gifts Distributors Ltd.,Nelson,Susan,4155551450,5677 Strong St.,NaN,San Rafael,CA,97562,USA,1165,210500.0,0,AE215433,2005-03-05 00:00:00,101244.59

In [27]:
# List the value of 'On Hold' orders.
df_join = pd.merge(Orders[Orders['status']=='On Hold'], OrderDetails)
df_join['total'] = df_join['priceEach'] * df_join['quantityOrdered']
df_join['total'].sum()

169575.61000000004

In [28]:
# Report the number of orders 'On Hold' for each customer
pd.merge(Orders[Orders['status']=='On Hold'], Customers).groupby('customerName')['orderNumber'].count()

customerName
Gifts4AllAges.com            1
Tekni Collectables Inc.      1
The Sharp Gifts Warehouse    1
Volvo Model Replicas, Co     1
Name: orderNumber, dtype: int64

In [29]:
# List products sold by order date
pd.merge(pd.merge(Orders, OrderDetails), Products).sort_values(by='orderDate')

,orderNumber,orderDate,requiredDate,shippedDate,status,comments,customerNumber,productCode,quantityOrdered,priceEach,orderLineNumber,productName,productScale,productVendor,productDescription,quantityInStock,buyPrice,MSRP,productLine
0,10100,2003-01-06 00:00:00,2003-01-13 00:00:00,2003-01-10 00:00:00,Shipped,NaN,363,S18_1749,30,136.00,3,1917 Grand Touring Sedan,1:18,Welly Diecast Productions,This 1:18 scale replica of the 1917 Grand Tour...,2724,86.70,170.00,Vintage Cars
50,10100,2003-01-06 00:00:00,2003-01-13 00:00:00,2003-01-10 00:00:00,Shipped,NaN,363,S18_4409,22,75.46,4,1932 Alfa Romeo 8C2300 Spider Sport,1:18,Exoto Designs,This 1:18 scale precision die cast replica fea...,6553,43.26,92.03,Vintage Cars
75,10100,2003-01-06 00:00:00,2003-01-13 00:00:00,2003-01-10 00:00:00,Shipped,NaN,363,S24_3969,49,35.29,1,1936 Mercedes Benz 500k Roadster,1:24,Red Start Diecast,This model features grille-mounted chrome horn...,2081,21.75,41.03,Vintage Cars
25,10100,2003-01-06 00:00:00,2003-01-13 00:00:00,2003-01-10 00:00:00,Shipped,NaN,363,S18_2248,50,55.09,2,1911 Ford Town Car,1:18,Motor City Art Classics,"Features opening hood, opening doors, opening ...",540,33.30,60.54,Vintage Cars
128,10101,2003-01-09 00:00:00,2003-01-18 00:00:00,2003-01-11 00:00:00,Shipped,Check on availability.,128,S18_2795,26,167.06,1,1928 Mercedes-Benz SSK,1:18,Gearbox Collectibles,This 1:18 replica features grille-mounted chro...,548,72.56,168.75,Vintage Cars
156,10101,2003-01-09 00:00:00,2003-01-18 00:00:00,2003-01-11 00:00:00,Shipped,Check on availability.,128,S24_1937,45,32.53,3,1939 Chevrolet Deluxe Coupe,1:24,Motor City Art Classics,This 1:24 scale die-cast replica of the 1939 C...,7332,22.57,33.19,Vintage Cars
184,10101,2003-01-09 00:00:00,2003-01-18 00:00:00,2003-01-11 00:00:00,Shipped,Check on availability.,128,S24_2022,46,44.35,2,1938 Cadillac V-16 Presidential Limousine,1:24,Classic Metal Creations,This 1:24 scale precision die cast replica of ...,2847,20.61,44.80,Vintage Cars
100,10101,2003-01-09 00:00:00,2003-01-18 00:00:00,2003-01-11 00:00:00,Shipped,Check on availability.,128,S18_2325,25,108.06,4,1932 Model A Ford J-Coupe,1:18,Autoart Studio Design,This model features grille-mounted chrome horn...,9354,58.48,127.13,Vintage Cars
240,10102,2003-01-10 00:00:00,2003-01-18 00:00:00,2003-01-14 00:00:00,Shipped,NaN,181,S18_1367,41,43.13,1,1936 Mercedes-Benz 500K Special Roadster,1:18,Studio M Art Models,This 1:18 scale replica is constructed of heav...,8635,24.26,53.91,Vintage Cars
212,10102,2003-01-10 00:00:00,2003-01-18 00:00:00,2003-01-14 00:00:00,Shipped,NaN,181,S18_1342,39,95.55,2,1937 Lincoln Berline,1:18,Motor City Art Classics,"Features opening engine cover, doors, trunk, a...",8693,60.62,102.74,Vintage Cars
324,10103,2003-01-29 00:00:00,2003-02-07 00:00:00,2003-02-02 00:00:00,Shipped,NaN,121,S12_1666,27,121.64,8,1958 Setra Bus,1:12,Welly Diecast Productions,"Model features 30 windows, skylights & glare r...",1579,77.90,136.67,Trucks and Buses
688,10103,2003-01-29 00:00:00,2003-02-07 00:00:00,2003-02-02 00:00:00,Shipped,NaN,121,S700_2824,42,94.07,6,1982 Camaro Z28,1:18,Carousel DieCast Legends,Features include opening and closing doors. Co...,6934,46.53,101.15,Classic Cars
548,10103,2003-01-29 00:00:00,2003-02-07 00:00:00,2003-02-02 00:00:00,Shipped,NaN,121,S18_4668,41,40.75,9,1939 Cadillac Limousine,1:18,Studio M Art Models,Features completely detailed interior includin...,6645,23.14,50.31,Vintage Cars
408,10103,2003-01-29 00:00:00,2003-02-07 00:00:00,2003-02-02 00:00:00,Shipped,NaN,121,S18_2949,27,92.19,12,1913 Ford Model T Speedster,1:18,Carousel DieCast Legends,This 250 part reproduction includes moving han...,4189,60.78,101.31,Vintage Cars
296,10103,2003-01-29 00:00:00,2003-02-07 00:00:00,2003-02-02 00:00:00,Shipped,NaN,121,S10_4962,42,119.67,4,1962 LanciaA Delta 16V,1:10,Second Gear Diecast,Features include: Turnable front wheels; steer...,6791,103.42,147.74,Classic Cars
492,10103,2003-01-29 00:00:00,2003-02-07 00:00:00,2003-02-02 00:00:00,Shipped,NaN,121,S18_3320,46,86.31,16,1917 Maxwell Touring Car,1:18,Exoto Designs,"Features Gold Trim, Full Size Spare Tire, Chro...",7913,57.54,99.21,Vintage Cars
632,10103,2003-01-29 00:00:00,2003-02-07 00:00:00,2003-02-02 00:00:00,Shipped,NaN,121,S32_1268,31,92.46,3,1980s GM Manhattan Express,1:32,Motor City Art Classics,This 1980s era new look Manhattan express is s...,5099,53.93,96.31,Trucks and Buses
380,10103,2003-01-29 00:00:00,2003-02-07 00:00:00,2003-02-02 00:00:00,Shipped,NaN,121,S18_2432,22,58.34,2,1926 Ford Fire Engine,1:18,Carousel DieCast Legends,Gleaming red handsome appearance. Everything i...,2018,24.92,60.77,Trucks and Buses
268,10103,2003-01-29 00:00:00,2003-02-07 00:00:00,2003-02-02 00:00:00,Shipped,NaN,121,S10_1949,26,214.30,11,1952 Alpine Renault 1300,1:10,Classic Metal Creations,Turnable front wheels; steering function; deta...,7305,98.58,214.30,Classic Cars
604,10103,2003-01-29 00:00:00,2003-02-07 00:00:00,2003-02-02 00:00:00,Shipped,NaN,121,S24_4258,25,88.62,15,1936 Chrysler Airflow,1:24,Second Gear Diecast,"Features opening trunk, working steering syst...",4710,57.46,97.39,Vintage Cars
464,10103,2003-01-29 00:00:00,2003-02-07 00:00:00,2003-02-02 00:00:00,Shipped,NaN,121,S18_3136,25,86.92,13,18th Century Vintage Horse Carriage,1:18,Red Start Diecast,Hand crafted diecast-like metal horse carriage...,5992,60.74,104.72,Vintage Cars
576,10103,2003-01-29 00:00:00,2003-02-07 00:00:00,2003-02-02 00:00:00,Shipped,NaN,121,S24_2300,36,107.34,1,1962 Volkswagen Microbus,1:24,Autoart Studio Design,This 1:18 scale die cast replica of the 1962 M...,2327,61.34,127.79,Trucks and Buses
660,10103,2003-01-29 00:00:00,2003-02-07 00:00:00,2003-02-02 00:00:00,Shipped,NaN,121,S32_3522,45,63.35,7,1996 Peterbilt 379 Stake Bed with Outrigger,1:32,Red Start Diecast,"This model features, opening doors, detailed e...",814,33.61,64.64,Trucks and Buses
436,10103,2003-01-29 00:00:00,2003-02-07 00:00:00,2003-02-02 00:00:00,Shipped,NaN,121,S18_2957,35,61.84,14,1934 Ford V8 Coupe,1:18,Min Lin Diecast,"Chrome Trim, Chrome Grille, Opening Hood, Open...",5649,34.35,62.46,Vintage Cars
520,10103,2003-01-29 00:00:00,2003-02-07 00:00:00,2003-02-02 00:00:00,Shipped,NaN,121,S18_4600,36,98.07,5,1940s Ford truck,1:18,Motor City Art Classics,This 1940s Ford Pick-Up truck is re-created in...,3128,84.76,121.08,Trucks and Buses
352,10103,2003-01-29 00:00:00,2003-02-07 00:00:00,2003-02-02 00:00:00,Shipped,NaN,121,S18_1097,35,94.50,10,1940 Ford Pickup Truck,1:18,Studio M Art Models,"This model features soft rubber tires, working...",2613,58.33,116.67,Trucks and Buses
935,10104,2003-01-31 00:00:00,2003-02-09 00:00:00,2003-02-01 00:00:00,Shipped,NaN,141,S24_2840,44,30.41,10,1958 Chevy Corvette Limited Edition,1:24,Carousel DieCast Legends,The operating parts of this 1958 Chevy Corvett...,2542,15.91,35.36,Classic Cars
743,10104,2003-01-31 00:00:00,2003-02-09 00:00:00,2003-02-01 00:00:00,Shipped,NaN,141,S12_4473,41,111.39,9,1957 Chevy Pickup,1:12,Exoto Designs,1:12 scale die-cast about 20 inches long Hood ...,6125,55.70,118.50,Trucks and Buses
963,10104,2003-01-31 00:00:00,2003-02-09 00:00:00,2003-02-01 00:00:00,Shipped,NaN,141,S24_4048,26,106.45,5,1992 Porsche Cayenne Turbo Silver,1:24,Exoto Designs,"This replica features opening doors, superb de...",6582,69.78,118.28,Classic Cars
990,10104,2003-01-31 00:00:00,2003-02-09 00:00:00,2003-02-01 00:00:00,Shipped,NaN,141,S32_2509,35,51.95,11,1954 Greyhound Scenicruiser,1:32,Classic Metal Creations,"Model features bi-level seating, 50 windows, s...",2874,25.98,54.11,Trucks and Buses
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,10420,2005-05-29 00:00:00,2005-06-07 00:00:00,NaN,In Process,NaN,282,S18_4409,66,73.62,6,1932 Alfa Romeo 8C2300 Spider Sport,1:18,Exoto Designs,This 1:18 scale precision die cast replica fea...,6553,43.26,92.03,Vintage Cars
2896,10420,2005-05-29 00:00:00,2005-06-07 00:00:00,NaN,In Process,NaN,282,S24_1628,37,48.80,13,1966 Shelby Cobra 427 S/C,1:24,Carousel DieCast Legends,This diecast model of the 1966 Shelby Cobra 42...,8197,29.18,50.31,Classic Cars
99,10420,2005-05-29 00:00:00,2005-06-07 00:00:00,NaN,In Process,NaN,282,S24_3969,15,35.29,3,1936 Mercedes Benz 500k Roadster,1:24,Red Start Diecast,This model features grille-mounted chrome horn...,2081,21.75,41.03,Vintage Cars
2995,10420,2005-05-29 00:00:00,2005-06-07 00:00:00,NaN,In Process,NaN,282,S24_3432,26,104.94,12,2002 Chevy Corvette,1:24,Gearbox Collectibles,The operating parts of this limited edition Di...,9446,62.11,107.08,Classic Cars
435,10423,2005-05-30 00:00:00,2005-06-05 00:00:00,NaN,In Process,NaN,314,S18_2949,10,89.15,1,1913 Ford Model T Speedster,1:18,Carousel DieCast Legends,This 250 part reproduction includes moving han...,4189,60.78,101.31,Vintage Cars
463,10423,2005-05-30 00:00:00,2005-06-05 00:00:00,NaN,In Process,NaN,314,S18_2957,31,56.21,3,1934 Ford V8 Coupe,1:18,Min Lin Diecast,"Chrome Trim, Chrome Grille, Opening Hood, Open...",5649,34.35,62.46,Vintage Cars
631,10423,2005-05-30 00:00:00,2005-06-05 00:00:00,NaN,In Process,NaN,314,S24_4258,28,78.89,4,1936 Chrysler Airflow,1:24,Second Gear Diecast,"Features opening trunk, working steering syst...",4710,57.46,97.39,Vintage Cars
239,10422,2005-05-30 00:00:00,2005-06-11 00:00:00,NaN,In Process,NaN,157,S18_1342,51,91.44,2,1937 Lincoln Berline,1:18,Motor City Art Classics,"Features opening engine cover, doors, trunk, a...",8693,60.62,102.74,Vintage Cars
491,10423,2005-05-30 00:00:00,2005-06-05 00:00:00,NaN,In Process,NaN,314,S18_3136,21,98.44,2,18th Century Vintage Horse Carriage,1:18,Red Start Diecast,Hand crafted diecast-like metal horse carriage...,5992,60.74,104.72,Vintage Cars
519,10423,2005-05-30 00:00:00,2005-06-05 00:00:00,NaN,In Process,NaN,314,S18_3320,21,80.36,5,1917 Maxwell Touring Car,1:18,Exoto Designs,"Features Gold Trim, Full Size Spare Tire, Chro...",7913,57.54,99.21,Vintage Cars
267,10422,2005-05-30 00:00:00,2005-06-11 00:00:00,NaN,In Process,NaN,157,S18_1367,25,47.44,1,1936 Mercedes-Benz 500K Special Roadster,1:18,Studio M Art Models,This 1:18 scale replica is constructed of heav...,8635,24.26,53.91,Vintage Cars
934,10425,2005-05-31 00:00:00,2005-06-07 00:00:00,NaN,In Process,NaN,119,S24_1444,55,53.75,1,1970 Dodge Coronet,1:24,Highway 66 Mini Classics,1:24 scale die-cast about 18 inches long doors...,4074,32.37,57.80,Classic Cars
379,10424,2005-05-31 00:00:00,2005-06-08 00:00:00,NaN,In Process,NaN,141,S18_1097,54,108.50,5,1940 Ford Pickup Truck,1:18,Studio M Art Models,"This model features soft rubber tires, working...",2613,58.33,116.67,Trucks and Buses
407,10425,2005-05-31 00:00:00,2005-06-07 00:00:00,NaN,In Process,NaN,119,S18_2432,19,48.62,10,1926 Ford Fire Engine,1:18,Carousel DieCast Legends,Gleaming red handsome appearance. Everything i...,2018,24.92,60.77,Trucks and Buses
826,10425,2005-05-31 00:00:00,2005-06-07 00:00:00,NaN,In Process,NaN,119,S18_2319,38,117.82,7,1964 Mercedes Tour Bus,1:18,Unimax Art Galleries,Exact replica. 100+ parts. working steering sy...,8258,74.86,122.73,Trucks and Buses
798,10425,2005-05-31 00:00:00,2005-06-07 00:00:00,NaN,In Process,NaN,119,S18_2238,28,147.36,3,1998 Chrysler Plymouth Prowler,1:18,Gearbox Collectibles,Turnable front wheels; steering function; deta...,4724,101.51,163.73,Classic Cars
351,10424,2005-05-31 00:00:00,2005-06-08 00:00:00,NaN,In Process,NaN,141,S12_1666,49,121.64,3,1958 Setra Bus,1:12,Welly Diecast Productions,"Model features 30 windows, skylights & glare r...",1579,77.90,136.67,Trucks and Buses
547,10425,2005-05-31 00:00:00,2005-06-07 00:00:00,NaN,In Process,NaN,119,S18_4600,38,107.76,13,1940s Ford truck,1:18,Motor City Art Classics,This 1940s Ford Pick-Up truck is re-created in...,3128,84.76,121.08,Trucks and Buses
715,10424,2005-05-31 00:00:00,2005-06-08 00:00:00,NaN,In Process,NaN,141,S700_2824,46,85.98,1,1982 Camaro Z28,1:18,Carousel DieCast Legends,Features include opening and closing doors. Co...,6934,46.53,101.15,Classic Cars
879,10425,2005-05-31 00:00:00,2005-06-07 00:00:00,NaN,In Process,NaN,119,S18_3232,28,140.55,8,1992 Ferrari 360 Spider red,1:18,Unimax Art Galleries,"his replica features opening doors, superb det...",8347,77.90,169.34,Classic Cars
575,10424,2005-05-31 00:00:00,2005-06-08 00:00:00,NaN,In Process,NaN,141,S18_4668,26,40.25,4,1939 Cadillac Limousine,1:18,Studio M Art Models,Features completely detailed interior includin...,6645,23.14,50.31,Vintage Cars
770,10425,2005-05-31 00:00:00,2005-06-07 00:00:00,NaN,In Process,NaN,119,S12_4473,33,95.99,4,1957 Chevy Pickup,1:12,Exoto Designs,1:12 scale die-cast about 20 inches long Hood ...,6125,55.70,118.50,Trucks and Buses
323,10425,2005-05-31 00:00:00,2005-06-07 00:00:00,NaN,In Process,NaN,119,S10_4962,38,131.49,12,1962 LanciaA Delta 16V,1:10,Second Gear Diecast,Features include: Turnable front wheels; steer...,6791,103.42,147.74,Classic Cars
295,10424,2005-05-31 00:00:00,2005-06-08 00:00:00,NaN,In Process,NaN,141,S10_1949,50,201.44,6,1952 Alpine Renault 1300,1:10,Classic Metal Creations,Turnable front wheels; steering function; deta...,7305,98.58,214.30,Classic Cars
1017,10425,2005-05-31 00:00:00,2005-06-07 00:00:00,NaN,In Process,NaN,119,S32_2509,11,50.32,6,1954 Greyhound Scenicruiser,1:32,Classic Metal Creations,"Model features bi-level seating, 50 windows, s...",2874,25.98,54.11,Trucks and Buses
659,10425,2005-05-31 00:00:00,2005-06-07 00:00:00,NaN,In Process,NaN,119,S32_1268,41,83.79,11,1980s GM Manhattan Express,1:32,Motor City Art Classics,This 1980s era new look Manhattan express is s...,5099,53.93,96.31,Trucks and Buses
687,10424,2005-05-31 00:00:00,2005-06-08 00:00:00,NaN,In Process,NaN,141,S32_3522,44,54.94,2,1996 Peterbilt 379 Stake Bed with Outrigger,1:32,Red Start Diecast,"This model features, opening doors, detailed e...",814,33.61,64.64,Trucks and Buses
962,10425,2005-05-31 00:00:00,2005-06-07 00:00:00,NaN,In Process,NaN,119,S24_2840,31,31.82,5,1958 Chevy Corvette Limited Edition,1:24,Carousel DieCast Legends,The operating parts of this 1958 Chevy Corvett...,2542,15.91,35.36,Classic Cars
1072,10425,2005-05-31 00:00:00,2005-06-07 00:00:00,NaN,In Process,NaN,119,S50_1392,18,94.92,2,Diamond T620 Semi-Skirted Tanker,1:50,Highway 66 Mini Classics,This limited edition model is licensed and per...,1016,68.29,115.75,Trucks and Buses
603,10425,2005-05-31 00:00:00,2005-06-07 00:00:00,NaN,In Process,NaN,119,S24_2300,49,127.79,9,1962 Volkswagen Microbus,1:24,Autoart Studio Design,This 1:18 scale die cast replica of the 1962 M...,2327,61.34,127.79,Trucks and Buses

In [30]:
# List the order dates in descending order for orders for the 1940 Ford Pickup Truck
pd.merge(
    pd.merge(
        Products[Products.productName=='1940 Ford Pickup Truck'], OrderDetails
            ), Orders
        ).sort_values('orderDate')['orderDate']

0     2003-01-29 00:00:00
1     2003-03-26 00:00:00
2     2003-05-28 00:00:00
3     2003-07-24 00:00:00
4     2003-09-19 00:00:00
5     2003-10-21 00:00:00
6     2003-11-06 00:00:00
7     2003-11-13 00:00:00
8     2003-11-25 00:00:00
9     2003-12-05 00:00:00
10    2004-01-29 00:00:00
11    2004-03-10 00:00:00
12    2004-05-04 00:00:00
13    2004-06-15 00:00:00
14    2004-07-19 00:00:00
15    2004-08-17 00:00:00
16    2004-09-08 00:00:00
17    2004-10-11 00:00:00
18    2004-10-21 00:00:00
19    2004-11-04 00:00:00
20    2004-11-18 00:00:00
21    2004-11-29 00:00:00
22    2004-12-10 00:00:00
23    2005-01-20 00:00:00
24    2005-02-17 00:00:00
25    2005-03-09 00:00:00
26    2005-05-01 00:00:00
27    2005-05-31 00:00:00
Name: orderDate, dtype: object

In [31]:
# List the names of customers and their corresponding order number where a particular order from that customer has a value greater than $25,000?

In [32]:
# first, calculate amount
OrderDetails['amount'] = OrderDetails.quantityOrdered * OrderDetails.priceEach
# calculate total per order
order_sum = pd.merge(
    Orders, OrderDetails
    ).groupby('orderNumber')[['amount', 'customerNumber']].aggregate(
        {'amount':'sum', 'customerNumber':'first'})
# filter
high_orders = order_sum[order_sum.amount > 25000]
# join with customers
Customers.merge(high_orders.reset_index())[['customerName', 'orderNumber', 'amount']]

                           customerName  orderNumber    amount
0                    Signal Gift Stores        10124  32641.98
1                    Signal Gift Stores        10278  33347.88
2            Australian Collectors, Co.        10120  45864.03
3            Australian Collectors, Co.        10223  44894.74
4            Australian Collectors, Co.        10342  40265.60
5            Australian Collectors, Co.        10347  41995.62
6                     La Rochelle Gifts        10275  47924.19
7                     La Rochelle Gifts        10375  49523.67
8                     La Rochelle Gifts        10425  41623.44
9                    Baane Mini Imports        10103  50218.95
10                   Baane Mini Imports        10325  34638.14
11         Mini Gifts Distributors Ltd.        10135  55601.84
12         Mini Gifts Distributors Ltd.        10142  56052.56
13         Mini Gifts Distributors Ltd.        10182  45084.38
14         Mini Gifts Distributors Ltd.        10229  43369.30
15         Mini Gifts Distributors Ltd.        10271  37430.89
16         Mini Gifts Distributors Ltd.        10282  47979.98
17         Mini Gifts Distributors Ltd.        10312  55639.66
18         Mini Gifts Distributors Ltd.        10357  40676.26
19         Mini Gifts Distributors Ltd.        10371  35137.54
20         Mini Gifts Distributors Ltd.        10382  47765.59
21         Mini Gifts Distributors Ltd.        10390  55902.50
22         Mini Gifts Distributors Ltd.        10396  27695.54
23                 Blauer See Auto, Co.        10230  33820.62
24                      Mini Wheels Co.        10333  26248.78
25                    Land of Toys Inc.        10248  41445.21
26                    Land of Toys Inc.        10292  35321.97
27                    Land of Toys Inc.        10329  50025.35
28               Euro+ Shopping Channel        10104  40206.20
29               Euro+ Shopping Channel        10153  44939.85
..                                  ...          ...       ...
162                   Auto Canal+ Petit        10252  25080.96
163       Extreme Desk Decorations, Ltd        10234  31670.37
164       Extreme Desk Decorations, Ltd        10268  35034.57
165  Bavarian Collectables Imports, Co.        10296  31310.09
166                Classic Legends Inc.        10337  25505.98
167                    Gift Ideas Corp.        10353  26304.13
168             Scandinavian Gift Ideas        10167  44167.09
169             Scandinavian Gift Ideas        10291  48809.90
170             Scandinavian Gift Ideas        10389  27966.54
171           The Sharp Gifts Warehouse        10250  42798.08
172           The Sharp Gifts Warehouse        10400  31755.34
173           The Sharp Gifts Warehouse        10407  52229.55
174                     Mini Auto Werke        10164  27121.90
175                    Super Scale Inc.        10196  38139.18
176                    Super Scale Inc.        10245  32239.47
177                     Microscale Inc.        10319  27550.51
178          Corrida Auto Replicas, Ltd        10126  57131.92
179          Corrida Auto Replicas, Ltd        10348  33145.56
180                    FunGiftIdeas.com        10321  48355.87
181                    FunGiftIdeas.com        10388  30293.77
182        Australian Collectables, Ltd        10193  35505.63
183         West Coast Collectables Co.        10215  36070.47
184          Iberia Gift Imports, Corp.        10184  47513.19
185        Motor Mint Distributors Inc.        10109  25833.14
186        Motor Mint Distributors Inc.        10331  45994.07
187            Signal Collectibles Ltd.        10149  29997.09
188                Diecast Collectables        10207  59265.14
189                   Kelly's Gift Shop        10138  32077.44
190                   Kelly's Gift Shop        10360  52166.00
191                   Kelly's Gift Shop        10399  30253.75

[192 rows x 3 columns]

In [33]:
# Are there any products that appear on all orders?
number_of_orders = len(Orders)
j = pd.merge(Products, OrderDetails)
product_orders = j.groupby('productName')['orderNumber'].count()

In [34]:
product_orders[product_orders==number_of_orders]

Series([], Name: orderNumber, dtype: int64)

In [35]:
# List the names of products sold at less than 80% of the MSRP

In [40]:
j = pd.merge(Products, OrderDetails)
j['markup'] = j['priceEach'] / j['MSRP']
set(j[j.markup < 0.8]['productName'])

{'18th century schooner',
 '1911 Ford Town Car',
 '1930 Buick Marquette Phaeton',
 '1932 Alfa Romeo 8C2300 Spider Sport',
 '1936 Mercedes Benz 500k Roadster',
 '1937 Lincoln Berline',
 '1939 Chevrolet Deluxe Coupe',
 '1940s Ford truck',
 "1950's Chicago Surface Lines Streetcar",
 '1952 Alpine Renault 1300',
 '1952 Citroen-15CV',
 '1956 Porsche 356A Coupe',
 '1957 Chevy Pickup',
 '1957 Corvette Convertible',
 '1962 City of Detroit Streetcar',
 '1962 Volkswagen Microbus',
 '1965 Aston Martin DB5',
 '1971 Alpine Renault 1600s',
 '1972 Alfa Romeo GTA',
 '1976 Ford Gran Torino',
 '1980s Black Hawk Helicopter',
 '1982 Camaro Z28',
 '1992 Ferrari 360 Spider red',
 '1993 Mazda RX-7',
 '1995 Honda Civic',
 '1996 Moto Guzzi 1100i',
 '1996 Peterbilt 379 Stake Bed with Outrigger',
 '1997 BMW F650 ST',
 '1999 Indy 500 Monte Carlo SS',
 'ATA: B757-300',
 'American Airlines: B767-300',
 'American Airlines: MD-11S',
 'Collectable Wooden Train',
 'Corsair F4U ( Bird Cage)',
 'Diamond T620 Semi-Skirted Tanker',
 'P-51-D Mustang',
 'Pont Yacht',
 'The USS Constitution Ship'}

In [45]:
# Reports those products that have been sold with a markup of 100% or more 
# (i.e., the priceEach is at least twice the buyPrice)
j['markup2'] = j['priceEach'] / j['buyPrice']
set(j[j['markup2'] > 2]['productName'])

{'1926 Ford Fire Engine',
 '1928 Ford Phaeton Deluxe',
 '1928 Mercedes-Benz SSK',
 '1932 Alfa Romeo 8C2300 Spider Sport',
 '1932 Model A Ford J-Coupe',
 '1936 Harley Davidson El Knucklehead',
 '1936 Mercedes-Benz 500K Special Roadster',
 '1937 Horch 930V Limousine',
 '1938 Cadillac V-16 Presidential Limousine',
 '1939 Cadillac Limousine',
 '1940 Ford Pickup Truck',
 '1948 Porsche Type 356 Roadster',
 "1950's Chicago Surface Lines Streetcar",
 '1952 Alpine Renault 1300',
 '1954 Greyhound Scenicruiser',
 '1957 Chevy Pickup',
 '1957 Corvette Convertible',
 '1957 Ford Thunderbird',
 '1958 Chevy Corvette Limited Edition',
 '1960 BSA Gold Star DBD34',
 '1961 Chevrolet Impala',
 '1962 Volkswagen Microbus',
 '1968 Ford Mustang',
 '1969 Ford Falcon',
 '1970 Plymouth Hemi Cuda',
 '1976 Ford Gran Torino',
 '1980s Black Hawk Helicopter',
 '1982 Camaro Z28',
 '1982 Lamborghini Diablo',
 '1992 Ferrari 360 Spider red',
 '1999 Indy 500 Monte Carlo SS',
 '2001 Ferrari Enzo',
 '2002 Suzuki XREO',
 '2002 Yamaha YZR M1',
 '2003 Harley-Davidson Eagle Drag Bike',
 'American Airlines: MD-11S',
 'Corsair F4U ( Bird Cage)',
 'HMS Bounty',
 'The Mayflower',
 'The USS Constitution Ship'}

In [67]:
global t 
def c(x):
    t = x
    return x

In [79]:
# List the products ordered on a Monday.
Orders['weekday'] = Orders.orderDate.apply(lambda x: pd.to_datetime(x).day_name())
pd.merge(pd.merge(Products, OrderDetails), 
         Orders[Orders.weekday=='Monday'])[['productName', 'orderDate', 'weekday']]

                                 productName            orderDate weekday
0      1969 Harley Davidson Ultimate Chopper  2003-02-24 00:00:00  Monday
1                      1996 Moto Guzzi 1100i  2003-02-24 00:00:00  Monday
2       2003 Harley-Davidson Eagle Drag Bike  2003-02-24 00:00:00  Monday
3                           2002 Suzuki XREO  2003-02-24 00:00:00  Monday
4        1936 Harley Davidson El Knucklehead  2003-02-24 00:00:00  Monday
5                          1997 BMW R 1100 S  2003-02-24 00:00:00  Monday
6                   1960 BSA Gold Star DBD34  2003-02-24 00:00:00  Monday
7                           1997 BMW F650 ST  2003-02-24 00:00:00  Monday
8      1969 Harley Davidson Ultimate Chopper  2003-08-25 00:00:00  Monday
9                      1996 Moto Guzzi 1100i  2003-08-25 00:00:00  Monday
10      2003 Harley-Davidson Eagle Drag Bike  2003-08-25 00:00:00  Monday
11                          2002 Suzuki XREO  2003-08-25 00:00:00  Monday
12                            P-51-D Mustang  2003-08-25 00:00:00  Monday
13       1936 Harley Davidson El Knucklehead  2003-08-25 00:00:00  Monday
14                         1997 BMW R 1100 S  2003-08-25 00:00:00  Monday
15          1928 British Royal Navy Airplane  2003-08-25 00:00:00  Monday
16                  1960 BSA Gold Star DBD34  2003-08-25 00:00:00  Monday
17                   1982 Ducati 900 Monster  2003-08-25 00:00:00  Monday
18                   1900s Vintage Tri-Plane  2003-08-25 00:00:00  Monday
19                          1997 BMW F650 ST  2003-08-25 00:00:00  Monday
20                         1982 Ducati 996 R  2003-08-25 00:00:00  Monday
21                 1974 Ducati 350 Mk3 Desmo  2003-08-25 00:00:00  Monday
22                        2002 Yamaha YZR M1  2003-08-25 00:00:00  Monday
23                             ATA: B757-300  2003-08-25 00:00:00  Monday
24     1969 Harley Davidson Ultimate Chopper  2003-12-01 00:00:00  Monday
25                     1996 Moto Guzzi 1100i  2003-12-01 00:00:00  Monday
26      2003 Harley-Davidson Eagle Drag Bike  2003-12-01 00:00:00  Monday
27                          2002 Suzuki XREO  2003-12-01 00:00:00  Monday
28       1936 Harley Davidson El Knucklehead  2003-12-01 00:00:00  Monday
29                         1997 BMW R 1100 S  2003-12-01 00:00:00  Monday
..                                       ...                  ...     ...
377                  1982 Ducati 900 Monster  2005-05-16 00:00:00  Monday
378                    1961 Chevrolet Impala  2005-05-16 00:00:00  Monday
379                        1982 Ducati 996 R  2005-05-16 00:00:00  Monday
380                1974 Ducati 350 Mk3 Desmo  2005-05-16 00:00:00  Monday
381                       2002 Yamaha YZR M1  2005-05-16 00:00:00  Monday
382  1941 Chevrolet Special Deluxe Cabriolet  2005-05-09 00:00:00  Monday
383                   1900s Vintage Bi-Plane  2005-05-09 00:00:00  Monday
384                1937 Horch 930V Limousine  2005-05-09 00:00:00  Monday
385                               HMS Bounty  2005-05-09 00:00:00  Monday
386                         Boeing X-32A JSF  2005-05-09 00:00:00  Monday
387                    1957 Ford Thunderbird  2004-08-09 00:00:00  Monday
388               1970 Chevy Chevelle SS 454  2004-08-09 00:00:00  Monday
389                       1949 Jaguar XK 120  2004-08-09 00:00:00  Monday
390                        1952 Citroen-15CV  2004-08-09 00:00:00  Monday
391                1969 Chevrolet Camaro Z28  2004-08-09 00:00:00  Monday
392                      2002 Chevy Corvette  2004-08-09 00:00:00  Monday
393         1912 Ford Model T Delivery Wagon  2004-03-29 00:00:00  Monday
394                    The Schooner Bluenose  2004-03-29 00:00:00  Monday
395                The USS Constitution Ship  2004-03-29 00:00:00  Monday
396                 1940 Ford Delivery Sedan  2005-02-28 00:00:00  Monday
397                    The Schooner Bluenose  2005-02-28 00:00:00  Monday
398             1930 Buick Marquette Phaeton  2003-12-01 00:00:00  Monday
399              American Airlines: B767-300  2003-12-01 00:00:00  Monday
400                       F/A 18 Hornet 1/72  2003-12-01 00:00:00  Monday
401                            The Mayflower  2005-03-28 00:00:00  Monday
402                The USS Constitution Ship  2005-03-28 00:00:00  Monday
403                              The Titanic  2005-03-28 00:00:00  Monday
404                           The Queen Mary  2005-03-28 00:00:00  Monday
405                               Pont Yacht  2005-03-28 00:00:00  Monday
406                              The Titanic  2003-04-21 00:00:00  Monday

[407 rows x 3 columns]

In [ ]:
# What is the quantity on hand for products listed on 'On Hold' orders?

In [83]:
pd.merge(Products, pd.merge(Orders[Orders.status=='On Hold'], OrderDetails)
    ).groupby('productName')['quantityInStock'].sum()

productName
18th century schooner                  1898
1900s Vintage Tri-Plane                2756
1903 Ford Model A                      3913
1904 Buick Runabout                    8290
1911 Ford Town Car                      540
1912 Ford Model T Delivery Wagon       9173
1917 Grand Touring Sedan               2724
1926 Ford Fire Engine                  2018
1928 British Royal Navy Airplane       3627
1928 Ford Phaeton Deluxe                136
1930 Buick Marquette Phaeton           7062
1932 Alfa Romeo 8C2300 Spider Sport    6553
1940 Ford Delivery Sedan               6621
1940s Ford truck                       3128
1949 Jaguar XK 120                     2350
1952 Citroen-15CV                      1452
1957 Ford Thunderbird                  3209
1962 LanciaA Delta 16V                 6791
1962 Volkswagen Microbus               2327
1964 Mercedes Tour Bus                 8258
1965 Aston Martin DB5                  9042
1966 Shelby Cobra 427 S/C              8197
1969 Chevrolet Camaro Z28              4695
1970 Chevy Chevelle SS 454             1005
1972 Alfa Romeo GTA                    3252
1992 Ferrari 360 Spider red            8347
1997 BMW F650 ST                        178
1999 Indy 500 Monte Carlo SS           8164
1999 Yamaha Speed Boat                 4259
2002 Chevy Corvette                    9446
ATA: B757-300                          7106
America West Airlines B757-200         9653
American Airlines: B767-300            5841
American Airlines: MD-11S              8820
Collectable Wooden Train               6450
Corsair F4U ( Bird Cage)               6812
F/A 18 Hornet 1/72                      551
P-51-D Mustang                          992
Pont Yacht                              414
The Mayflower                           737
The Queen Mary                         5088
The Schooner Bluenose                  1897
The Titanic                            1956
The USS Constitution Ship              7083
Name: quantityInStock, dtype: int64