In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data/gapminder.tsv', sep='\t')

In [3]:
data.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

0- run descriptive statistics on data

1- what is the average lifeExp per continent

2- what is the average lifeExp per continent per year

3- what is the average length of country name per continent and year

4- what are the countries in which the averalge lifeExp over their observations is greater than 75 years