In [1]:
import pandas as pd
import numpy as np

The file `mpg.csv` contains data about cars

In [3]:
data = pd.read_csv('data/mpg.csv')
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

1. What is the average `mpg`?
2. What is the average `mpg` per country of `origin`?
3. What cars have `mpg` that is highest than the overall average?
4. What cars have `mpg` that is highest than the average of their country of `origin`?
5. What countries of `origin` have an average `mpg` more than 30?
6. Select cars in countries of `origin` that have an average `mpg` more than 30?
7. What is the minimum and maximum `mpg` per country of `origin`?
8. What is the concatenation of cars' `name`s per country of `origin`?
9. Consider the following classification of cars: **Compact** cars have a weight less than 3000 pounds. **Midsize** cars have a weight between 2000 and 3000 pounds. **Large** cars have a weight more than 3000 pounds. How many cars are there in each category?