In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data/EC10.csv')

In [3]:
data.head()

,id,text,date,company,sector
0,32934,"Zoe's Kitchen, Inc. (NYSE:ZOES)\nQ2 2015 Earni...",2015-08-28 00:11:00,"Zoe's Kitchen, Inc.",Consumer Services
1,32905,"Autodesk, Inc. (NASDAQ:ADSK)\nQ2 2016 Earnings...",2015-08-28 00:07:00,"Autodesk, Inc.",Technology
2,32926,Smith & Wesson Holding Corp. (NASDAQ:SWHC)\nQ1...,2015-08-27 23:25:00,Smith & Wesson Holding Corporation,Capital Goods
3,32930,"Ulta Salon, Cosmetics & Fragrance, Inc. (NASDA...",2015-08-27 23:09:00,"Ulta Salon, Cosmetics & Fragrance, Inc.",Consumer Services
4,32907,Splunk Inc. (NASDAQ:SPLK)\nQ2 2016 Earnings Co...,2015-08-27 22:56:00,Splunk Inc.,Technology

1- Which is the most verbose sector (uses more words than others)

In [12]:
data['words'] = data['text'].str.split().str.len()

In [14]:
s = data.groupby('sector')['words'].sum()
s

sector
Capital Goods         7015
Consumer Services    32018
Finance               9238
Technology           38282
Name: words, dtype: int64

In [16]:
s.sort_values(ascending=False).index[0]

'Technology'

2- count the number of companies in each stock exchange

In [11]:
df=data['text'].str.extract("([A-Z]+):([A-Z]+)")
df.columns = ['Stock market', 'Company']
df.groupby('Stock market').count()

              Company
Stock market
NASDAQ              6
NYSE                4

3- What are the top 10 most frequent words?

In [18]:
from collections import Counter

In [19]:
Counter(['Hi', "Hi", "There"])

Counter({'Hi': 2, 'There': 1})

In [26]:
all_words = data['text'].str.split().sum()
count = Counter(all_words)

In [29]:
pd.Series(count).sort_values(ascending=False)[:10]

the     3552
to      2324
of      2245
and     2166
in      1615
that    1356
a       1347
our     1201
we      1166
is       892
dtype: int64

4- What are the top 10 most frequent words per sector?

In [41]:
def count_words(data_frame):
    all_words = data_frame['text'].str.split().sum()
    count = Counter(all_words)
    return pd.Series(count).sort_values(ascending=False)[:10].to_dict()

In [52]:
data.groupby('sector').apply(count_words)

sector
Capital Goods        {'the': 253, 'of': 170, 'and': 153, 'to': 151,...
Consumer Services    {'the': 1238, 'to': 900, 'of': 813, 'and': 767...
Finance              {'the': 363, 'and': 283, 'to': 245, 'in': 207,...
Technology           {'the': 1698, 'of': 1079, 'to': 1028, 'and': 9...
dtype: object