In [1]:
import pandas as pd
import altair as alt

RendererRegistry.enable('notebook')

In [48]:
# data is large, disable max row error
alt.data_transformers.disable_max_rows()

DataTransformerRegistry.enable('default')

The following data set is the a time series of confirmed COVID-19 cases across the globe as of 27 March 2020.

The data was downloaded from the [COVID-19 Dashboards project](https://github.com/github/covid19-dashboard). This project uses Python and Altair to create a variety of visualizations related to the pandemic.

We will be working on visualizing different countries trajectories.

In [6]:
data = pd.read_csv('data/covid19_confirmed_global_2020-03-27.csv')

In [7]:
data.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,22,22,22,24,24,40,40,74,84,94
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,55,59,64,70,76,89,104,123,146,174
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,60,74,87,90,139,201,230,264,302,367
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,39,39,53,75,88,113,133,164,188,224
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,0,0,0,1,2,2,3,3,3,4

1- convert the data from a wide to a long format,
instead of having a column per date, create two columns
`Date`, and `Cases`. Populate `Date` with the column name and `Cases` with the value aassociated with the column

2- some countries have granular state/province-level data. 
Calculate total cases per country

3- Using line mark, create a timeline of  cases per countries.

4- This figure is very busy, plot only the top five countries in terms of total cases

5- Create a similar chart for the China, plot each province in a separate line