## In this exercise we will try to re-create the decision tree from data
![](figures/play_tennis.png)

In [ ]:
|--- Humidity <= 1.50
|   |--- Outlook <= 1.50
|   |   |--- class: 0
|   |--- Outlook >  1.50
|   |   |--- Outlook <= 2.50
|   |   |   |--- class: 1
|   |   |--- Outlook >  2.50
|   |   |   |--- Wind <= 1.50
|   |   |   |   |--- class: 0
|   |   |   |--- Wind >  1.50
|   |   |   |   |--- class: 1
|--- Humidity >  1.50
|   |--- Outlook <= 2.50
|   |   |--- class: 1
|   |--- Outlook >  2.50
|   |   |--- Wind <= 1.50
|   |   |   |--- class: 0
|   |   |--- Wind >  1.50
|   |   |   |--- class: 1

In [4]:
import pandas as pd
from sklearn import tree
from sklearn.tree import export_text

In [5]:
data = pd.read_csv("data/PlayTennis.csv")

Train a decision tree using the data and then print the tree

*Note* You will need to change the values from string to numbers before training the tree

In [6]:
data.head()

  PlayTennis   Outlook Temperature Humidity    Wind
0         No     Sunny         Hot     High    Weak
1         No     Sunny         Hot     High  Strong
2        Yes  Overcast         Hot     High    Weak
3        Yes      Rain        Mild     High    Weak
4        Yes      Rain        Cool   Normal    Weak

In [8]:
play_tennis = {'No':0, 'Yes':1}
data['PlayTennis'] = data['PlayTennis'].apply(lambda x: play_tennis[x])

In [9]:
outlook = {'Sunny':1, 'Overcast':2, 'Rain':3}
data['Outlook'] = data['Outlook'].apply(lambda x: outlook[x])

In [10]:
temp = {'Hot':1, 'Mild':2, 'Cool':3}
data['Temperature'] = data['Temperature'].apply(lambda x: temp[x])

In [11]:
hum = {'High':1, 'Normal':2}
data['Humidity'] = data['Humidity'].apply(lambda x: hum[x])

In [12]:
wind = {'Strong':1, 'Weak':2}
data['Wind'] = data['Wind'].apply(lambda x: wind[x])

In [13]:
data.head()

   PlayTennis  Outlook  Temperature  Humidity  Wind
0           0        1            1         1     2
1           0        1            1         1     1
2           1        2            1         1     2
3           1        3            2         1     2
4           1        3            3         2     2

In [14]:
data.dtypes

PlayTennis     int64
Outlook        int64
Temperature    int64
Humidity       int64
Wind           int64
dtype: object

In [16]:
X = data[['Outlook', 'Temperature', 'Humidity', 'Wind']]

In [17]:
y = data['PlayTennis']

In [18]:
tree = tree.DecisionTreeClassifier()

In [20]:
dtree = tree.fit(X, y)

In [24]:
print(export_text(dtree, feature_names = list(X.columns)))

|--- Humidity <= 1.50
|   |--- Outlook <= 1.50
|   |   |--- class: 0
|   |--- Outlook >  1.50
|   |   |--- Outlook <= 2.50
|   |   |   |--- class: 1
|   |   |--- Outlook >  2.50
|   |   |   |--- Wind <= 1.50
|   |   |   |   |--- class: 0
|   |   |   |--- Wind >  1.50
|   |   |   |   |--- class: 1
|--- Humidity >  1.50
|   |--- Outlook <= 2.50
|   |   |--- class: 1
|   |--- Outlook >  2.50
|   |   |--- Wind <= 1.50
|   |   |   |--- class: 0
|   |   |--- Wind >  1.50
|   |   |   |--- class: 1