In [25]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso
from sklearn.metrics import r2_score

In [17]:
# calculate the adjusted r2
def adjusted_r2(y, yfit, model):
    r2 = r2_score(y, yfit)
    p = len(model.coef_)
    n = len(y)
    return 1-(1-r2)*(n-1)/(n-p-1)

This example uses the [Toyota Corolla](https://www.kaggle.com/klkwak/toyotacorollacsv) data set and some example code of running linear regression models from chapter 6 of [Data Mining for Business Analytics](https://www.dataminingbook.com/book/python-edition)

The dataset contains pricing of used Toyotal Corolla cars.
The goal of this exercise is to predict the price.
On of the challenge with this data is the large number of variables (features).
Thus, we would like to select the subset of the features that serve to make a good prediction of the price of cars.

1. Predict the price of the car using linear regression and the following features: 'Age_08_04', 'KM', 'Fuel_Type', 'HP', 'Met_Color', 'Automatic', 'CC', 'Doors', 'Quarterly_Tax', 'Weight'

Evaluate the resulting model on the training and the testing sets. How well did it do?

2. Perform a [Lasso](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.Lasso.html) regression on the same data. How did the result change?

3. Perform a Lasso regression using all predictors. How well does it predict car price?

In [3]:
data = pd.read_csv('data/ToyotaCorolla.csv')
data.head(1)

,Id,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,...,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Parking_Assistant,Tow_Bar
0,1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,Diesel,90,1,...,1,1,0,0,0,1,0,0,0,0